.footer {
  position: relative;
  ::before {
    content: '';
    display: block;
    border-top: 1px solid #858a8f;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1176px;
    max-width: 100%;
    @include media('<=#{$br1}') {
      width: calc(100% - 57px * 2);
    }
    @include media('<=#{$br2}') {
      width: calc(100% - 15px * 2);
    }
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  @include media('<=#{$br1}') {
    align-items: flex-start;
  }
  @include media('<=#{$br2}') {
    flex-direction: column;
  }
}

.footer-nav__items {
  display: flex;
  align-items: center;
  @include media('<=#{$br1}') {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10vw;
    row-gap: 8px;
  }
  @include media('<=#{$br2}') {
    column-gap: 25vw;
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer-nav__item {
  @include media('>#{$br1}') {
    + .footer-nav__item {
      margin-left: 32px;
    }
  }
}

.footer-nav__link {
  color: var(--nav-default);
  transition: color 0.3s ease;
  &--active,
  &:hover {
    color: var(--nav-active);
  }
}

.footer-social {
  display: flex;
  align-items: center;
  @include media('<=#{$br2}') {
    margin-top: 32px;
  }
}

.footer-social__item {
  transition: opacity 0.3s ease;
  + .footer-social__item {
    margin-left: 24px;
  }
  &:hover {
    opacity: 0.7;
  }
  img {
    display: block;
    max-width: 100%;
    width: auto;
  }
}
