.how-to {
  padding-top: 24px;
  padding-bottom: 24px;
  @include media('<=#{$br2}') {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.how-to-el {
  border-radius: 8px;
  background-color: var(--bg-card);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 28px;
  overflow: hidden;
  @include media('<=#{$br3}') {
    flex-direction: column;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 16px;
  }
  + .how-to-el {
    margin-top: 32px;
  }
  @include media('<=#{$br3}') {
    + .how-to-el {
      margin-top: 24px;
    }
  }
}

.how-to-el__left {
  margin-right: 24px;
  padding-top: 34px;
  padding-bottom: 34px;
  @include media('<=#{$br2}') {
    margin-right: 20px;
  }
  @include media('<=#{$br3}') {
    margin-right: 0px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 24px;
  }
}

.how-to-el__h {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2em;
  display: inline-block;
  color: var(--typ-primary);
  &::before {
    content: attr(data-n);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-accent);
    border-radius: 4px;
    color: var(--typ-primary);
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: 1em;
    width: 36px;
    height: 36px;
    flex: 1 0 auto;
    margin-right: 8px;
    position: relative;
    top: -4px;
    @include media('<=#{$br2}') {
      font-size: 14px;
      width: 24px;
      height: 24px;
    }
  }
  @include media('<=#{$br2}') {
    font-size: 24px;
  }
}

.how-to-el__text {
  margin-top: 16px;
  @include media('<=#{$br2}') {
    margin-top: 8px;
  }
}

.how-to__img-wrapper {
  width: 476px;
  height: 100%;
  flex: 1 0 auto;
  @include media('<=#{$br2}') {
    width: 303px;
  }
  @include media('<=#{$br3}') {
    width: 100%;
  }
}

.how-to__img {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: toimg(476, 276);
  @include cover;
  @include media('<=#{$br1}') {
    padding-bottom: toimg(303, 296);
  }
}
