.toc {
  margin-top: 64px;
  margin-bottom: 64px;
  @include media('<=#{$br2}') {
    margin-top: 44px;
    margin-bottom: 44px;
  }
  @include media('<=#{$br4}') {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.toc__card {
  border-radius: 8px;
  background-color: var(--bg-card);
  @include media('<=#{$br4}') {
    border-radius: 6px;
  }
  max-width: 776px;
  margin: 0 auto;
  padding: 24px;
  @include media('<=#{$br4}') {
    padding: 16px;
  }
}

.toc__title {
  font-size: 14px;
  line-height: 1.7em;
}

.toc__items {
  margin-top: 24px;
  font-size: 18px;
  color: var(--typ-primary);
  font-weight: 700;
  @include media('<=#{$br2}') {
    margin-top: 16px;
    font-size: 16px;
  }
}

.toc__item {
  + .toc__item {
    margin-top: 16px;
    @include media('<=#{$br2}') {
      margin-top: 12px;
    }
  }
}
